{% load static %}

<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Tappy Plane</title>
  <link rel="shortcut icon" href="{% static 'webgl_bulid/TemplateData/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'webgl_bulid/TemplateData/style.cs' %}s">
  <script src="{% static 'webgl_bulid/TemplateData/UnityProgress.js' %}"></script>
  <script src="{% static 'webgl_bulid/Build/UnityLoader.js' %}"></script>
  <script>
    var gameInstance = UnityLoader.instantiate("gameContainer", "{% static 'webgl_bulid/Build/webgl_bulid.json' %}", {onProgress: UnityProgress});
  </script>
</head>
<body>
<div class="webgl-content">
  <div id="gameContainer" style="width: 960px; height: 600px"></div>
  <div class="footer">
    <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
  </div>
</div>
</body>
</html>
