{% extends "main.html" %}
{% load static %}


{% block featured %}
    {% for game in games %}

        <div class="span3 latest-article" id="first-art">
                    <div class="latest-article-wrap">
                        <a href="#"><img src="{% static 'img/img_1.jpg' %}" class="img-rounded"></a>
                        <p>{{game.name}}</p>
                        <a href="#" class="label label-info pull-right">Więcej</a>
                    </div>
                </div>

    {% endfor %}

{% endblock %}

{% block game %}

{% if games.count > 0 %}
 {% for game in games %}

                <div class="game"><!--  Artykul -->
                    <hr>
                    <h2><a href="{{ game.id }}">{{ game.name }}</a></h2>
                    <div class="game-info">
                        Opublikowano : {{ game.published}}
                    </div>
                    <img src="{% static 'img/img_1.jpg' %}" class="game-img img-rounded">
                    <div class="game-intro">
                        <p>{{ game.author }}</p>
                    </div>
                    <a class="btn btn-inverse art-more"><a href="{{ game.id }}">Zobacz więcej</a></a>
                 </div><!-- Koniec artykulu -->

    {% endfor %}
{% else %}

<p>Brak gier</p>

{% endif %}

{% endblock %}

